{% set nome = form.get('nome') %}
<div class="box-body">
    {% set message = formElementErrors(nome,{class: 'help-block'}) %}
    <div class="form-group{{ message ? 'has-error' }}">
        {{ formLabel(nome) }}
        {{ formElement(nome) }}
        {{ message | raw }}
    </div>

</div>


