<table>
    <tbody>
    <tr>
        <td>
            {{ content | raw }}
        </td>
    </tr>
    <tr>
        <td>
            {#%tag_unsubscribe_url% é um token do mailgun#}
            <a href="%tag_unsubscribe_url%">Não quero receber mais emails deste lista</a>
        </td>
    </tr>
    <tr>
        <td>
            {#%unsubscribe_url% é um token do mailgun#}
            <a href="%unsubscrige_url">Não quero mais receber seus emails</a>
        </td>
    </tr>
    </tbody>
</table>